/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 13px;
}

.select-input {
  width: 100%;
  height: 32px;
  padding: 0 36px 0 12px;
  border: 1px solid #e0e6ec;
  border-radius: 3px;
  font-size: 14px;
  font-family: Inter;
  box-sizing: border-box;
  color: rgb(178, 178, 178);
  background-color: #fff;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-input option[value=''][disabled] {
  color: rgb(178, 178, 178);
}
.select-input option:not([disabled]) {
  color: #212121;
}

.select-input:not(:has(option[value='']:checked)) {
  color: #212121;
}

.select-input option[value=''][disabled] {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

/* N·ªÅn scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
}
