.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  width: 560px;
  height: 95vh;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}

.close {
  cursor: pointer;
}
.icon-close {
  width: 22px;
  height: 22px;
  min-width: 22px;
  background-color: black;
  mask-image: url('../icons/ICON.svg');
  mask-position: -73px -136px;
  mask-repeat: no-repeat;
}
.dx-popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 24px 16px 0 24px;
}
.header-popup .text {
  font-size: 24px;
  font-weight: 700;
  height: 28px;
}

/* main-popup */
.dx-scroll-wraper {
  flex: 1;
  overflow: hidden;
}
.main-cotent-popup {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}
.import-cv {
  text-align: center;
  display: flex;
  border: 1px dashed #e0e0e0;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
}
.wrap-file {
  font-size: 13px !important;
  width: 100%;
  height: auto;
}
.wrap-file .file-msg {
  color: #2970f6;
}
.wrap-file .file-msg2 {
  margin-top: 7px;
  color: grey;
}
.infor-candidate {
  width: 100%;
  margin-top: 1rem;
  height: 100%;
}
.avatar-candidate {
  width: 79px;
  height: 100%;
  padding-top: 15px;
}
.avatar-candidate .avatar {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 3px;
  position: relative;
  min-width: 24px;
  min-height: 24px;
  color: #ffffff;
  border: 1px dashed #e0e0e0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer popup */
.dx-popup-footer {
  width: 100%;
  height: 56px;
  padding: 9px 12px;
  box-sizing: border-box;
  background-color: #f1f2f5 !important;
  border-top: 1px solid #dddde4;
}

.right-content {
  height: auto;
  width: auto;
  min-height: 1;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: 8px !important;
  font-size: 14px;
  font-family: Inter;
  overflow: hidden;
}
.full-row {
  margin: 8px 0;
  width: 100%;
  flex-shrink: 0;
}
.label-input {
  color: #1e2633;
  height: 25px !important;
  font-weight: 500;
  line-height: 25px !important;
}

.date-input:focus,
.date-input:hover,
.select-input:focus,
.select-input:hover {
  border-color: #6aa7ff; /* xanh dương nhạt */
  box-shadow: 0 0 0 2px rgba(106, 167, 255, 0.25); /* glow nhẹ */
}
.m-dup-row {
  display: flex;
  flex-direction: row;
}
.text-normal {
  font-size: 14px;
  font-weight: 400;
  color: rgb(178, 178, 178);
}
.icon-down-placeholder {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: #9e9e9e;
  mask-image: url(../icons/ICON.svg);
  mask-position: -32px -48px;
  mask-repeat: no-repeat;
  pointer-events: none;
}
.label-input .bottom-left {
  width: auto;
  height: auto;
}
.date-form {
  width: 100%;
  height: 32px;
}
.date-input {
  height: 32px !important;
  line-height: 32px !important;
  font-size: 14px;
  font-weight: 400;
  color: rgb(178, 178, 178);
  box-sizing: border-box;
  padding: 0 16px;
  padding-top: 2px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  border: 1px solid rgb(221, 221, 228);
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}
.select-form {
  position: relative;
  width: 100%;
}
.date-input.has-value {
  color: #212121;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
}
.item-more-container {
  height: 32px;
  width: 10%;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.edu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 14px !important;
}
.edu-container .edu-left {
  width: 136px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edu-container .edu-right {
  height: 100%;
  width: calc(100% - 136px);
  display: flex;
  align-items: center;
  position: relative;
}
.edu-right .icon-add {
  position: absolute;
  width: 18px;
  height: 18px;
  min-width: 20px;
  background-color: blueviolet;
  mask-image: url('../icons/ICON.svg');
  mask-position: -20px -656px;
  mask-repeat: no-repeat;
  right: 50px;
}
.full-row .hight-light {
  height: 1px;
  width: 100%;
  background-color: #b2b2b2;
  margin-top: 16px;
  margin-bottom: 16px;
}

.date-form-to {
  width: 95%;
  height: 32px;
}
.btn-save {
  display: flex;
  height: 36px;
  width: 72px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn-update {
  display: flex;
  height: 36px;
  width: 72px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn-dont-save {
  height: 36px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  color: rgb(30, 38, 51);
  cursor: pointer;
}
